<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book Starter | All products</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>


    <div class="container">
        <div class="header">
            <div class="navbar">
                <div class="logo">
                    <%= image_tag("logo.png", height: '80', width: '120') %>
                </div>
                <nav>
                    <ul>
                        <li><%= link_to "Trang chủ",root_path %></li>
                        <li><%= link_to "Sách",books_path %></li>
                        <li><%= link_to "Thể loại",categories_path %></li>
                        <li><a href="">Giới thiệu</a></li>
                        <li><a href="">Liên hệ</a></li>
                        <li><a href="">Tài khoản</a>
                            <ul>
                                <% if user_signed_in? %>
                                <li><%= link_to "Thông tin",edit_user_registration_path%></li>
                                <li><%= link_to "Đăng xuất",destroy_user_session_path,method: :delete%></li>
                                <% else %>
                                <li><%= link_to "Đăng nhập",new_user_session_path %></li>
                                <li><%= link_to "Đăng ký",new_user_registration_path%></li>

                                <% end %>



                            </ul>
                        </li>

                    </ul>

                </nav>
                <%= image_tag("cart.png", height: '30', width: '30') %>
            </div>


        </div>



        <div class="small-container">
            <div class="row-2">
            <%= link_to 'Back',categories_path %><br>
               <span class = "product"> <%= @category.name %> <span>
                <span class = "product">
                    <%=" > Sách "%>
                </span>


            </div>
            <div class="row">

                    <% @books.each do |book| %>
                      <tr>
                        <div class="col-4">
                            <div class="pic-style" >
                                <%= image_tag(book.image) %>
                            </div>
                        <td><%= book.title %></td><br>
                        <td><%= book.author %></td><br>
                        <td><%= book.price %>vnđ</td><br>
                        <td><%= link_to 'Xem chi tiết', book %></td>
                        <% if user_signed_in? && current_user.admin == true %>
                        <td><%= link_to 'Edit', edit_book_path(book) %></td>
                        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                        <% end %>
                        </div>
                      </tr>
                    <% end %>
            </div>

        </div>



        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="footer-col-1">
                        <h3>Download ứng dụng</h3>

                        <div class="app-logo">
                            <%= image_tag("app-store.png") %><br>
                            <%= image_tag("play-store.png") %>
                        </div>
                    </div>
                    <div class="footer-col-3">
                        <h3>Giới thiệu</h3>
                        <ul>
                            <li>Hướng dẫn mua hàng</li>
                            <li>Chính sách giao hàng</li>
                            <li>Phương thức vận chuyển</li>
                            <li>Phương thức đổi/trả</li>
                        </ul>
                    </div>
                    <div class="footer-col-2">
                        <%= image_tag("white_logo.png") %>
                        <p>Biến thói quen đọc sách <br> trở thành niềm vui</p>
                    </div>

                    <div class="footer-col-3">
                        <h3>Link liên quan</h3>
                        <ul>
                            <li>Mã giảm giá</li>
                            <li>Blog </li>
                            <li>Chính sách riêng tư</li>

                        </ul>
                    </div>

                    <div class="footer-col-4">
                        <h3>Theo dõi chúng tôi</h3>
                        <ul>
                            <li>Facebook</li>
                            <li>Twitter</li>
                            <li>Youtube</li>

                        </ul>
                    </div>
                </div>
                <hr>
                <p>Copyright 2020 - Long </p>
            </div>
        </div>
        </body>
        </html>
